.content {
    margin-top: 170px;
}

.item {
    width: 200px;
}

.logo {
    position: fixed;
    right: 0;
    width: 25%;
    max-width: 200px;
    height: 8vw;
    max-height: 70px;
    bottom: 0;

    div {
        background-color: #fff;
        position: absolute;
        margin-top: 1vw;
        height: 200%;
        width: 1000%;
        left: -600%;
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
        border-top: 5px solid #2d9cdb;
    }

    img {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 5px;
        right: 5px;
    }
}


.diagonal {
    position: fixed;
    left: 0;
    width: 25%;
    max-width: 200px;
    height: 8vw;
    max-height: 80px;
    top: 0;

    div {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        position: absolute;
    }

    .blue {
        margin-top: 1vw;
        height: 200%;
        width: 1000%;
        left: -550%;
        background-color: #2d9cdb;
    }

    .title {
        top: 40px;
        padding: 5px;
        left: 25px;
        color: #fff;
        font-size: 32px;
        width: 350px;
    }
}
